// Variables
$black: #000000;
$dark-grey: #383838;
$light-grey: #F5F5F5;
$grey: #ccc;
$blue: #4682B4;
$dark-blue: #00008B;
$light-blue: #0000FF;
$green: #3CB371;
$red: #DC143C;
$white: #ffffff;

// Starts from the specified width.
@mixin respond-at($media) {
  @media screen and (min-width: $media) {
    @content;
  }
}

html {
  font-family: Arial;
}

body {
  background-color: $light-grey !important;
}
.status-box {
  background-color: $light-grey;
  border: none;
  border-radius: 5px 0 0 5px;
  width: auto;
  min-width: 10rem;
  max-width: 90%;
  font-size: 1rem;
  float: left;
  margin: 0;
  padding: .5rem;
  color: $black;
  -moz-box-shadow: 3px 3px 5px 6px $grey;
  -webkit-box-shadow: 3px 3px 5px 6px $grey;
  box-shadow: 3px 3px 5px 6px $grey;

  @include respond-at(400px) {
    min-width: 10rem;
    width: 80%;
  }

  @include respond-at(768px) {
    width: auto;
  }

  @include respond-at(1230px) {
    width: 13rem;
  }
}

h1 {
  text-align: center;
}
#task-table {
  width: 100%;
  background-color: $light-grey;
  border: 1px solid #000000;
  border-radius: 10px;
  -moz-box-shadow:    3px 3px 5px 6px $grey;
  -webkit-box-shadow: 3px 3px 5px 6px $grey;
  box-shadow:         3px 3px 5px 6px $grey;
}

th {
  background-color: $dark-grey;
  color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
  width: 25%;
}
tr {
  border-bottom: 1px solid $dark-grey;
  padding: 1rem;
}
td {
  padding: .5rem .5rem .5rem 1rem;
}

.task-button {
  background-color: $light-blue;
  color: $white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  -moz-box-shadow: 0px 5px 0px 0px $dark-blue;
  -webkit-box-shadow: 0px 5px 0px 0px $dark-blue;
  box-shadow: 0px 5px 0px 0px $dark-blue;
  cursor: pointer;
}

.action-button {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;

  &--edit {
    color: $dark-blue;
  }

  &--delete {
    color: $red;
  }
}

.close {
  margin: 0 !important;
}

.counter-box {
  float: left;
  margin: 0;
  width: 3.5rem;
  height: 2.5rem;
  background-color: $black;
  color: $white;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 0px 5px 5px 0;
  -moz-box-shadow:    3px 3px 5px 6px $grey;
  -webkit-box-shadow: 3px 3px 5px 6px $grey;
  box-shadow:         3px 3px 5px 6px $grey;

  &--blue {
    color: $blue;
  }

  &--green {
    color: $green;
  }

  &--red {
    color: red;
  }
}

.container-wide {
  max-width: 95% !important;
  padding-bottom: 2rem;


  @include respond-at(400px) {
   padding: 2rem 0 !important;
  }
}

.status-container {
  width: auto;
  margin: 0 auto;

  @include respond-at(790px) {
    padding: 2rem 0 !important;
    width: 90%;
  }
}

.modal {
  top: 150px;
}

.modal-title {
  width: 60%;
  font-size: 2rem;
}

#new-task {
  width: 100%;
  border-radius: 5px;
}

.task-title-modal {
  text-align: center;
}

#edit-task-status {
  margin-left: 1rem;
}

#new-task-status {
  margin-left: 1rem;
  margin-top: 1rem;
}

.row.error-div {
  color: $red;
  font-size: 1.5rem;
}
